.form-container {
    max-width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .floating-input {
    width: 100%;
    padding: 10px 10px 10px 5px;
    font-size: 16px;
    border: 1px solid lightgray;
    /* border-bottom: 2px solid #ccc; */
    outline: none;
    transition: border-color 0.3s ease-in-out;
  }
  
  /* .floating-input:focus {
    border-bottom: 2px solid #007bff;
  } */
  
  .floating-label {
    position: absolute;
    top: 8px;
    left: 15px;
    padding: 2px;
    font-size: 16px;
    background-color: white;
    color: #ccc;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  
  .floating-input:focus ~ .floating-label,
  .floating-input.has-value ~ .floating-label {
    top: -16px;
    font-size: 14px;
    color: #01319F;
  }
  