* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 400;
  font-style: normal;
  border: border-box;

}

/* NAVBAR */


.navbar {
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
}
@keyframes flashColors {
  0% { background-color: #01319F; }
  50% { background-color: #14A660; }
  100% { background-color: #01319F; }
}

.flashing-button {
  animation: flashColors 1s ease-in-out infinite;
}


.banner-1 {
  background-image: url(../public/banner1.jpg);
  background-size: 150px;
  /* width: 20%; */
  /* height: 80px; */
  background-position: center;
  background-repeat: no-repeat;
}

.banner-2 {
  background-image: url(../public/banner2.jpg);
  background-size: 90px;
  /* width: 20%; */
  /* height: 150px; */
  background-position: center;
  /* background-size: cover; */
  background-repeat: no-repeat;
}

/* .input-text{
    @apply text-blue-800 bg-white transform translate-y-9 translate-x-4;
} */
/* input[type="text"]:focus ~ .input-text,
input[type="text"]:not(:placeholder-shown) ~ .input-text{
  @apply text-black bg-white transform -translate-y-5 translate-x-3 scale-95
  } 
  input[type="email"]:focus ~ .input-email,
input[type="email"]:not(:placeholder-shown) ~ .input-email{
  @apply text-black bg-white transform -translate-y-5 translate-x-3 scale-95
  }

  @media only screen and (max-width: 1280px){
    .NavbarHeader{

    }
  } */

.navbar .link {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
}
.navbar .link .sub-link{
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;

}
.navbar .sub-link{
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-style: normal;

}

.testimonial-section { 
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(./Images/happy-clients-banner.jpg);
  background-repeat: no-repeat;
  background-size:cover;
}

.austrialia-banner{
  background-image: url(./Images/Australia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.canada-banner{
  background-image: url(./Images/canadian-banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

.uk-banner{
  background-image: url(./Images/uk.jpeg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.europe-banner{
  background-image: url(./Images/europe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.usa-banner{
  background-image: url(./Images/usa-page-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

/* .contact-page{
  background-image: url(./Images/Contact\ us.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
} */


.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container {
      max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
      max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
      max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
      max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container {
      max-width: 1536px;
  }
}

.about-page{
  background-image: url(./Images/About\ US.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.contact-page{
  background-image: url(./Images/Contact\ us.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.otherservices-page{
  background-image: url(./Images/other\ services.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
.testimonial-page{
  background-image: url(./Images/Ratings.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}